
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 19px;
    color: #fff;
    font: 600 20px Poppins, sans-serif;
}

.logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 49px;
}

.brand-name {
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 10px 10px;
    height : 50px;
}
.nav-options a {
    color: #F9EAAD;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background: none;
}
.btn-nav {
    color: #F9EAAD;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #191919;
    border: 1px solid #EF514F;
    border-radius: 10px;
}
.btn-primary-nav {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #EF514F;
    border: 3px solid #EF514F;
    border-radius: 10px;
}
.btn-nav:hover, .btn-primary-nav:hover, a:hover {
    opacity: 0.8;
}


/* main section */

.main-container{
    display: flex;
    background: #191919;
    justify-content: space-between;
}

.main-description-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 17px 0 17px 0;
    padding: 45px 59px 72px;
    height: auto;
}

.main-description-subtitle
{
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 121.2%;

    color: #39C2B6;
}

.main-description-title {
    margin: 0 0 0 0;
    font-weight: bold;
    font-family: "Plus Jakarta Sans", serif;
    font-style: normal;
    font-size: 40px;
    color: #F9EAAD;
}

.main-description-text
{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    max-width: 550px;
    color: #FFFFFF;
}
.main-image
{
    position: relative;
    display: flex;
    border-radius: 50px 0 0 0;
}

.btn-cta-container
{
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #EF514F;
    border: 3px solid #EF514F;
    border-radius: 10px;
    color: #F9EAAD;
}
.btn-2-cta-container
{
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #191919;
    border: 1px solid #EF514F;
    border-radius: 10px;
    color: #F9EAAD;
}
.btn-cta-container:hover, .btn-2-cta-container:hover, a:hover {
    opacity: 0.8;
}


/* benefits section */

.Benefits-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.benefits-title
{
    margin: 20px 0 0 0;
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #000000;
}

.benefits-text
{
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1A202C;
    margin: 20px 0 20px 0;
}

.benefits-cards-container
{
    margin: 30px 0 30px 0;
    position: relative;
    width: 100%;
    max-width: 1311px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.benefits-card-title
{
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* Black */
    color: #1A202C;
}

.benefits-card-text
{
    font-family: 'Plus Jakarta Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 175%;
    /* or 24px */
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;

    /* Black */
    color: #1A202C;
    max-width: 220px;
}

.benefits-card-image
{
    width: 150px;
    height: 150px;
    border-radius: 40px 40px 40px 40px;
}

.vector-image
{
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 0 50px 50px 0;
}

/* commentary section */

.commentary-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* team section */

.team-section{
    margin: 7em 0;
}

.team-section-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.team-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    max-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-card img {
    width: 100%;
    border-radius: 10px 10px 0 0
}
.member-info{
    padding: 0 20px;
}
.team-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.05;
}

@media screen and (max-width: 600px) {
    .team-card {
        width: 100%;
    }
}

/* video section */

.video-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Footer Section */
footer{
    background-color: #FFFFFF;
    padding: 40px 30px;
    color: #000000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content.info {
    margin-right: 35px;
}

.footer-content {
    width: 24%;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-content h2, .footer-content h3 {
    font-weight: bold;
}

.footer-content ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 10px 0 10px 0;
}

.footer-content li {
    text-decoration: none;
    margin-bottom: 30px;
}

.footer-content a {
    text-decoration: none;
    color: #000000;
}

.footer-content a:hover {
    text-decoration: underline;
}

.icons-social a {
    display: inline-block;
    margin-right: 10px;
}

.icons-social img {
    width: 80px;
    height: 80px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #9d9c9c;
    padding-top: 40px;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

.legal a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
}

.legal a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .footer-content {
        width: 100%;
    }
}

/*Comments section*/

.comments-section {
    background-color: #191919;
    color: #FFFFFF;
    padding: 50px 0;
}

.comments-section .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-section .title-description {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.comments-section .comments-title {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #F9EAAD;
}

.comments-section .comments-description {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
}

.comments-section .comments-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.comments-section .comment-box {
    background-color: #FFFFFF;
    color: #0B132A;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-right: 20px; 
}

.comments-section .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comments-section .author-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.comments-section .author-text {
    flex-grow: 1;
}

.comments-section .author-name {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: #0B132A;
}

.comments-section .author-location {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #4F5665;
}

.comments-section .rating {
    font-family: 'Rubik', sans-serif;
    color: #0B132A;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
}

.comments-section .comment-text {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

.comments-section .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.comments-section .pagination-dots {
    flex-grow: 1;
    text-align: left;
}

.comments-section .arrows {
    flex-grow: 1;
    text-align: right;
}

.comments-section .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #256D72;
    margin-right: 5px;
    cursor: pointer;
}

.comments-section .arrow {
    cursor: pointer;
    font-size: 24px;
    user-select: none;
}

.comments-section {
    background-color: #191919; 
    color: #FFFFFF; 
    padding: 50px 0;
}

.comments-section .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-section .title-description {
    max-width: 50%; 
    text-align: center;
    margin-bottom: 30px;
}

.comments-section .carousel-container {
    position: relative;
    width: 100%;
}

.comments-section .comments-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    overflow: hidden;
}

.comments-section .pagination-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.comments-section .dots-container {
    text-align: left; 
}

.comments-section .arrows-container {
    text-align: right; 
}

.comments-section .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #256D72;
    margin-right: 5px;
    cursor: pointer;
}

.comments-section .dot.active {
    background-color: #39C2B6;
}

.comments-section .arrow {
    cursor: pointer;
    font-size: 24px;
    color: #256D72; 
    user-select: none;
}

.comments-section .arrow:hover {
    color: #39C2B6;
}



.comments-section .comments-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden; 
    width: 100%;
}

.comments-section .comment-box {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    margin-right: 20px;
}

.comments-section .carousel-container {
    width: 100%; 
}

.comments-section .comments-container {
    transform: translateX(0%); 
    transition: transform 0.5s ease-in-out; 
}

.video-container {
    background-color: #191919;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    color: #F9EAAD;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.videos iframe {
    flex: 1;
    max-width: 100%;
}


@media screen and (max-width: 600px) {
    .team-card {
        width: 100%;
    }
}

/* video section */

.video-container
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}